
/* Add some basic styles for forms */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
 header {
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-bottom: 2px solid rgb(246, 246, 246);
 }
 header nav {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
 }
    header nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    }
    header nav ul li {
        list-style: none;
        margin: 0 10px;
    }
    header nav ul li a {
        text-decoration: none;
        color: #131313;
        font-size: 1.5rem;
        font-weight: 500;
    }
    header nav ul li a:hover {
        color: rgb(0, 140, 107);
        transition: 0.5s ease-in-out;
    }
 header h1 {
    font-size: 2.5rem;
    color: #000000;
 }
 header h1 span {
    color: rgb(255, 186, 89);
    font-size: 1.5rem;
 }   
 header a {
    text-decoration: none;
    color: #131313;
    font-size: 1.5rem;
    font-weight: 500;
 }
 .home{
    width: 100%;
    height: 100vh;
    background-color: rgb(237, 237, 237);
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .income-content{
    width: 100%;
   
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 0 20px;
 }

/* Add some basic styles for forms */
form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  max-width: 500px;
}

form div {
  margin-bottom: 10px;
  display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
  font-weight: bold;
}

input[type='number'],
input[type='text'] {
    width: 400px;
    height: 50px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
    margin-top: 20px;
  padding: 15px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
.income-home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.income-list{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
}
.income-list ol {
   
    
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    
  
}
.income-list ol li {
   
    display: flex;
    gap: 5px;
    flex-direction: column;
    word-break: break-all;
    border: 1px solid #e6e6e6;
    box-shadow: 6px 6px 10px #cdcccc;
    border-radius: 10px;
    padding: 10px;
}
